.footerContainer
{
    position: absolute;
    width: 100%;
  
    .linkFooterContainer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        margin-bottom: 80px;
    }

 
 
}